@import 'colors'

#allies
  background: $light_green
  padding-bottom: 80px

.allies
  ul
    li
      a
        color: white
        border-bottom: 1px solid $dark_text
        width: 100%
        display: block
