@media (max-width: 768px)
  section
    .section-text
      max-width: 100%
    .section-header
      font-size: 40px
    ul.demand-bullets
      margin-top: 20px
      li
        // font-size: 15px
        list-style: none
        margin-bottom: 20px
        height: auto
        a
          line-height: 15px
          height: auto
  #news .news-item
    height: auto
    .story
      height: 200px


  footer .footer-logo
    margin-left: 0

  #news
    .col-md-2
      padding: 0
@media (max-width: 992px)
  .section-text
    max-width: 100%
@media (max-width: 1200px)
  .foo
    width: 10px
