@import 'colors'

#email
  background: $dark_green
  padding-bottom: 55px

  h2
    color: $light_green

  p
    color: white
    text-align: center

$form-height: 60px
.email-input
  width: 475px
  max-width: 100%
  height: $form-height
  float: left

.submit-email
  width: 170px
  color: white
  height: $form-height
  background: $light_green
  border: none
