@import 'colors'

footer

  background: $dark_green
  padding-bottom: 80px

  p
    text-align: center
    color: white

  .social-container
    height: 200px
    border-top: 1px solid $light_green
    border-bottom: 1px solid $light_green
    margin-top: 45px

    a
      text-decoration: none
      margin: 5px

  $top_margin: 60px
  .social-buttons
    height: 80px
    width: 170px
    border-left: 1px solid $light_green
    border-right: 1px solid $light_green
    margin-top: $top_margin
    margin-left: 80px
    padding: 22px 0

  .hashtags
    margin-top: $top_margin
    margin-left: 70px
    a
      color: white
      font-size: 17px

  .social
    width: 50px
    height: 50px
    border-radius: 25px
    background: white
    float: left
    margin: 10px

  .footer-logo
    max-width: 100%
    margin-top: 27px
    // width: 420px
    // height: 410px
    // background: #ccc
    // margin-left: 17.666666%
    margin-bottom: 90px

  .license
    font-size: 12px
    color: $light_green
    a
      color: $light_green

  .twitter
    background-image: url('/images/FU_twitter_normal.png')
    background-repeat: no-repeat
    &:hover
      background-image: url('/images/FU_twitter_on.png')
      background-repeat: no-repeat
  .facebook
    background-image: url('/images/FU_facebook_normal.png')
    background-repeat: no-repeat
    &:hover
      background-image: url('/images/FU_facebook_on.png')
      background-repeat: no-repeat

  .end-matter
    margin-top: -30px
