@import 'colors'
@import 'measures'


section
  padding: $section_padding 0 0

  .bar
    width: 185px
    height: 16px
    background: $light_green

  .section-header
    text-transform: uppercase
    font-size: 80px
    font-family: vnr
    padding-left: 0

    &.centered
      font-size: 70px
      text-align: center

  .section-text
    padding: 0 0 27px
    background: $light_green
    color: $light_text
    width: 750px

    p
      padding: 27px 30px 0
      margin: 0

    ul.demand-bullets
      li

section#message1
  padding: $section_padding + $navbar_height 0 0
