@import 'colors'
@import 'measures'


section
  padding: $section_padding 0 0

  .bar
    width: 185px
    height: 16px
    background: $light_green

  .section-header
    text-transform: uppercase
    font-size: 80px
    font-family: vnr
    padding-left: 0

    &.centered
      font-size: 70px
      text-align: center

  .section-text
    padding: 0 0 27px
    background: $light_green
    color: $light_text
    width: 750px

    p
      padding: 27px 30px 0
      margin: 0

  ul.demand-bullets
    margin-top: 20px
    li
      $li_height: 50px
      min-height: $li_height
      margin-left: 26px
      list-style-image: url(/images/bullet-image.png)
      a
        line-height: $li_height

section#message1
  padding: $section_padding + $navbar_height 0 0
  background-repeat: no-repeat
  background-image: url(/images/bg.png)
  // background-position: center

section#message2
  background-repeat: no-repeat
  background-image: url(/images/bg2.png)
  background-position: -212px 45px
  background-position: center

section#message3
  background-image: url(/images/bg3.png)
  // background-position: -212px 45px
  background-repeat: no-repeat
  background-position: center
