@import 'colors'
@font-face
  font-family: vnr
  src: url('/fnts/vnr.otf')


body
  section
    font-size: 24px
    font-family: Proxima Nova, Helvetica Neueu, Helvetica, Arial
    color: $dark_text


    a
      color: $dark_text
      &:hover
        text-decoration: none

    h1, h2, h3, h4, h5
      font-family: vnr
      text-transform: uppercase



// @font-face
//   font-family: ApercuRegular
//   src: asset-data-url('apercu_regular_pro.otf')
// 
// @font-face
//   font-family: ApercuMedium
//   src: asset-data-url('apercu_medium_pro.otf')
// 
// @font-face
//   font-family: Apercu
//   src: asset-data-url('apercu_bold_pro.otf')
