@import 'colors'
@font-face
  font-family: vnr
  src: url('/fnts/vnr.otf')


body
  section
    font-size: 22px
    font-family: "Proxima Nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
    color: $dark_green


    a
      color: $dark_green
      &:hover
        text-decoration: none

    h1, h2, h3, h4, h5, .org
      font-family: vnr
      text-transform: uppercase

@media (max-width: 768px)
  section .section-header
    font-size: 60px


// @font-face
//   font-family: ApercuRegular
//   src: asset-data-url('apercu_regular_pro.otf')
// 
// @font-face
//   font-family: ApercuMedium
//   src: asset-data-url('apercu_medium_pro.otf')
// 
// @font-face
//   font-family: Apercu
//   src: asset-data-url('apercu_bold_pro.otf')
